{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block body %}
<h1 class="title">Check out these products!</h1>
<p>Here are my amazing products.</p>
<form method="POST" action="/insert">
  <input class="input" name="title" type="text" />
  <textarea class="textarea" name="content" rows="4"></textarea>
  <button class="button" type="submit">Create new post</button>
</form>
{% for post in posts %}
<div>
  <h2 class="title is-3">{{ post.title }}</h2>
  <p>{{ post.content}}</p>
</div>
{% endfor %}
{% endblock %}
